$base: #e2e2e2;
$card: #f1f1f1;
$bg: #e5e5e5;
$body: #fff;
$white: #fff;
$black: #2f3542;
$border: #c4c4c4;

$mobile: 576px;
$tablet: 768px;
$tabletPro: 992px;
$desktop: 1024px;
$desktopPro: 1200px;
$wide: 1440px;
