@import '../../Assets/SCSS/variables';
@import '../../Assets/SCSS/mixins';
.movieDetailHeader {
  width: 100%;
  min-height: 85px;
  height: auto;
  background-color: $base;
  border-radius: 6px;
  margin: 69px 0 119px;
  padding: 20px 80px;
  @include display(flex, flex-start, center);
  flex-wrap: wrap;
  .btnBackToMain {
    width: 74px;
    height: 33px;
    background-color: #549df2;
    color: #fff;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 60px;
    &:hover {
      box-shadow: none;
    }
    .backIcon {
      width: 13px;
      height: 10px;
      object-fit: cover;
      margin-right: 6px;
    }
  }
  .movieDetailTitles {
    width: max-content;
    height: 40px;
    @include display(flex, flex-start, flex-start);
    flex-direction: column;
    .movieTitle,
    .movieShortDescription {
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      color: #000;
    }
    .movieShortDescription {
      font-weight: 400;
    }
  }
}
